<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
<%  %>

    <table align="center" border="3" cellpadding="1" cellspacing="1" style="height:200px; width:600px">
      <thead>
        <tr>
          <th class="content"><%=data %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%=data %></td>
        </tr>
      </tbody>
    </table> <p>&nbsp;</p>



<%  %>
    </body>
  </html>
