<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container user user-show">

   <div class="buttons">
    <a class="btn btn-default" href="/users">Back</a>
    <a class="btn btn-default" href="/users/<%= user.username %>/checkmsg">쪽지확인</a>



 </body>
</html>
