<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>게시판</h1>
        <p>2017-2 공프기 화이팅!(✿╹◡╹)</p>
        <p>공지사항 : 다들 회원가입해주세염</p>
      </div>
    </body>
  </html>
